*{
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#all-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;   
}

#calculator{

    background-color: #0c3249;
    border-radius: 20px;
}

#container{
    width: 500px;
    height: 570px;
    background-color: #154360;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin: 10px;
    padding: 10px;
}

#display{
    flex: 2;
    border: 2px solid rgb(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 5px 10px;  
    margin-bottom: 10px;
}

#expression,#answer,#problem{   
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#expression{
    flex: 1;
    font-size: 25px;
    color: rgb(255, 255, 255, 0.8);
}

#answer{
    flex: 2;
    font-size: 45px;
    color: #2ebd6c;
}

#problem{
    flex: 1;
    font-size: 30px;
    color: white;
}
.btn-row{
    flex: 1;
    display: flex;
    gap: 10px;
}
button{
    flex: 1;
    color: azure;
    background-color: #2874A6;
    font-size: 20px;
    border-radius: 15%;
    border-style: none;
    box-shadow: -1px -3px 2px 2px #0c3249;
}

button:hover{
    background-color: goldenrod;
    cursor: pointer;
}

#overlay{
    position:fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#error-text{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    width: 450px;
    height: 200px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    background-color: rgb(128, 0, 0, 0.8);
    padding: 10px 0px;
    border: 5px ridge white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}